{% extends "clean_base.html" %}
{% block title %} - Success!{% endblock %}
{% block content %}
<div class="success-area">
  <h1>Thanks for Your Contribution!</h1>
  {% if data.verified_string %}
  <p>Please copy verified code: <span class="verified-code">{{ data.verified_string }}</span>, and paste it to the answer field in Mturk page.</p>
  {% endif %}
  {% if data.experiment_flow %}
  	<p><a href="{{ url_for('views.pre_experiment', flow=data.experiment_flow, user=data.create_user) }}">Home</a></p>
  {% else %}
  	<p><a href="{{ url_for('views.index') }}">Home</a></p>
  {% endif %}
</div>
{% endblock %}
